#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin: 0;
  background-color: white;
}

.arrow-icon {
  clip-path: circle();
  margin: 0;
  background-color: purple;
}